{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- Contenido de la página -->
  <div class="container mt-5">
    <h2 class="text-center">Mi Cuenta</h2>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Saldo de la Tarjeta</div>
          <div class="card-body">
            <p><strong>Saldo disponible:</strong> ${{ saldo_actual }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Transacciones</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Destinatario</th>
                  <th>Monto</th>
                </tr>
              </thead>
              <tbody>
                {% for transferencia in transferencias %}
                <tr>
                  <td>{{ transferencia.fecha }}</td>
                  <td>{{ transferencia.destinatario }}</td>
                  <td>${{ transferencia.monto }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <style>
    th, td, p{
      color: white;
    }
  </style>
{% endblock %}

