{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  {% if messages %}
  <div class="alert alert-dismissible" role="alert">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}


  <div class="container mt-5">
    <h2 class="text-center">Nosotros</h2>
    <div class="row">
      <div class="col-md-6">
        <h4>Misión</h4>
        <p>Nuestra misión es proporcionar una billetera digital segura y fácil de usar que permita a los usuarios gestionar sus finanzas de manera eficiente y confiable.</p>
      </div>
      <div class="col-md-6">
        <h4>Objetivo</h4>
        <p>Nuestro objetivo es simplificar el proceso de administración financiera al ofrecer una plataforma integral que permita a los usuarios realizar transacciones, realizar un seguimiento de sus gastos e ingresos, y planificar su presupuesto de manera efectiva.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <h4>Valores</h4>
        <ul>
          <li>Seguridad: Priorizamos la seguridad de los datos y la privacidad de nuestros usuarios.</li>
          <li>Innovación: Estamos comprometidos a mantenernos a la vanguardia de la tecnología para ofrecer soluciones modernas y actualizadas.</li>
          <li>Usabilidad: Diseñamos interfaces intuitivas y fáciles de usar para una experiencia de usuario fluida.</li>
          <li>Confianza: Construimos relaciones sólidas con nuestros usuarios basadas en la transparencia y la confiabilidad.</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
