{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Importar el script de Stripe Elements -->
    <script src="https://js.stripe.com/v3/"></script>

    <form id="payment-form" method="POST">
        {% csrf_token %}
        <!-- Stripe Elements creará el campo de entrada de la tarjeta de crédito aquí -->
        <div id="card-element"></div>
        <div id="card-errors" role="alert"></div>  <!-- Agregado el elemento para mostrar los errores -->

        <label for="amount">Monto:</label>
        <input type="number" id="amount" name="amount" step="0.01" required>

        <button id="submit-button" type="submit">Pagar</button>
    </form>
      
    <!-- Código JavaScript para inicializar y manejar el formulario -->
    <script>
        // Configurar la clave pública de Stripe
        const stripe = Stripe('pk_test_51NPHNtFeXmeWsaZvw6oiK3eHO5ee2C5f2rtPVuoQ2hy3aJpGORfibxkRaZI6vTAcaaVH8YtUc5l6A18q8BrasiNO00KV24TS93');

        // Crear el elemento card de Stripe Elements
        const elements = stripe.elements();
        const cardElement = elements.create('card');

        // Montar el elemento card en el campo de entrada de la tarjeta de crédito
        cardElement.mount('#card-element');

        // Manejar el envío del formulario
        const form = document.getElementById('payment-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            // Deshabilitar el botón de envío mientras se procesa la solicitud
            document.getElementById('submit-button').disabled = true;

            // Crear el token de Stripe utilizando los datos de la tarjeta de crédito
            const { token, error } = await stripe.createToken(cardElement);

            if (error) {
                // Mostrar el mensaje de error al usuario
                const errorElement = document.getElementById('card-errors');
                errorElement.textContent = error.message;

                // Habilitar nuevamente el botón de envío
                document.getElementById('submit-button').disabled = false;
            } else {
                // Agregar el token y el monto al formulario antes de enviarlo al servidor
                const hiddenInputToken = document.createElement('input');
                hiddenInputToken.setAttribute('type', 'hidden');
                hiddenInputToken.setAttribute('name', 'stripeToken');
                hiddenInputToken.setAttribute('value', token.id);
                form.appendChild(hiddenInputToken);

                const hiddenInputAmount = document.createElement('input');
                hiddenInputAmount.setAttribute('type', 'hidden');
                hiddenInputAmount.setAttribute('name', 'amount');
                hiddenInputAmount.setAttribute('value', document.getElementById('amount').value);
                form.appendChild(hiddenInputAmount);

                // Enviar el formulario al servidor para procesar la recarga
                form.submit();
            }
        });
    </script>
{% endblock %}
