{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="align-items-center text-center">
    <h2 class="text-center"><strong>Transferencia</strong></h2>
  </div>

  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}

  {% if messages %}
  <div class="alert alert-danger mt-4 rounded col-6 mx-auto">
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="d-grid gap-2 col-6 mx-auto">
    <form method="post" class="form-floating">
      <br>
      <p><strong>Saldo actual: ${{ saldo_actual }}</strong></p>

      {% csrf_token %}
      <div class="my-4">
        <label for="username_destino"><strong>Usuario destino:</strong></label>
        <input type="text" class="form-control" placeholder="Ingrese el nombre de usuario destino"
          name="username_destino" required>
      </div>
      <div class="my-4">
        <label for="monto_transferencia"><strong>Monto:</strong></label>
        <input type="number" class="form-control" placeholder="Ingrese el monto" name="monto_transferencia" required>
      </div>
      <div class="my-5">
        <button type="submit" class="btn btn-gradient btn-rounded" value="Transferir"
          style="width: 100%;">Transferir</button>
      </div>
    </form>
  </div>

</div>
{% endblock %}